body {
    background-color: #333;
    color: #fff;
}

div.container {
    display: grid;
    max-width: 50%;
}

#myChart, #dupeChart {
    grid-column: 1;
    grid-row: 1;
}

#dupeChart {
    pointer-events: none;
}